<%-include("partials/header")  -%> 
    <h1><%= homeHeading %> </h1>
    <p><%= homeContent %> </p>
    <% arrayPosts.forEach(function(i) { %>
        <h2><%= i.title %> </h2>
        <p>
            <%= i.message.slice(0, 100) + "...." %>
            <a href="/posts/<%=i.title%>">Read more</a>
        </p>
    <% }) %>

    
<%-include("partials/footer") -%> 