<%-include("partials/header")  -%> 
    <h1><%= homeHeading %> </h1>
    <p><%= homeContent %> </p>
    <% maincontent.forEach(function(i) { %>
        <h2><%= i.title %> </h2>
        <p>
            <%= i.content.slice(0, 60) + "...." %>
            <a href="/posts/<%=i._id%>">Read more</a>
        </p>
    <% }) %>

    
<%-include("partials/footer") -%> 